@media (max-width: 376px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        width: 375px;
        height: 735px;
    }

    .mainpage {
        justify-content: center;

        &__content {
            text-align: center;
        }

        &__title {
            font-size: 32px;
            line-height: 39px;
        }

        &__text {
            font-size: 14px;
            line-height: 22px;
        }
    }

    .productRange {
        &__mainpage {
            width: 375px;
        }
    }

    .product {
        &__img {
            width: 343px;
            height: 300px;
        }
    }

    .gametext {
        font-size: 24px;
        line-height: 32px;
    }

    .content {
        &__box {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 64px;
            &-title {
                font-size: 32px;
                line-height: 39px;
            }

            &-text {
                width: 343px;
                font-size: 14px;
                line-height: 22px;
                text-align: center;
            }
        }
    }

    .game {
        &__logo {
            width: 344px;
            height: 236px;
        }
    }

    .main {
        &__footer {
            width: 375px;
            &-box{
                padding-top: 100px;
                padding-bottom: 136px;
                gap: 0px;
                &_sec {
                    padding-bottom: 136px;
                    gap: 0px;
                }
            }
            
        }
    }


svg {
    width: 344px;
}

}