* {
  margin: 0px;
  padding: 0px;
}

button:hover {
  cursor: pointer;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(img/background_mainpage.png);
  background-position: center;
  background-size: cover;
  height: 1024px;
}

.mainpage {
  margin-bottom: 128px;
}
.mainpage__content {
  padding-top: 217px;
}
.mainpage__content .boldtext {
  font-weight: bold;
}
.mainpage__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  align-items: center;
  color: #FFFFFF;
}
.mainpage__text {
  padding-top: 32px;
  padding-bottom: 44px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  align-items: center;
  color: #FFFFFF;
}
.mainpage__button {
  width: 234.06px;
  height: 48.6px;
  background: #9C0332;
  border-radius: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  color: #FFFFFF;
  transition: all 0.5s;
}
.mainpage__button:hover {
  background: rgba(0, 0, 0, 0);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}

.productRange__mainpage {
  background-color: #000915;
  background-size: cover;
}
.productRange__mainpage-content {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  transition: all 0.5s;
  box-sizing: border-box;
}
.product:hover {
  transform: scale(1.06);
  cursor: pointer;
}

.gametext {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  position: relative;
  left: 32px;
  bottom: 64px;
}

.main__footer {
  height: 800px;
  background: #000915;
  display: flex;
  justify-content: space-between;
  row-gap: 136px;
}

.content__box {
  padding-top: 282px;
  padding-bottom: 282px;
}
.content__box-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}
.content__box-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  padding-top: 32px;
  padding-bottom: 32px;
}

.game__block {
  padding-top: 234px;
  padding-bottom: 234px;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
}
@media (min-width: 375px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .mainpage {
    justify-content: center;
  }
  .mainpage__content {
    text-align: center;
  }
  .mainpage__title {
    font-size: 32px;
    line-height: 39px;
  }
  .mainpage__text {
    font-size: 14px;
    line-height: 22px;
  }
}
@media (max-width: 376px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    width: 375px;
    height: 735px;
  }
  .mainpage {
    justify-content: center;
  }
  .mainpage__content {
    text-align: center;
  }
  .mainpage__title {
    font-size: 32px;
    line-height: 39px;
  }
  .mainpage__text {
    font-size: 14px;
    line-height: 22px;
  }
  .productRange__mainpage {
    width: 375px;
  }
  .product__img {
    width: 343px;
    height: 300px;
  }
  .gametext {
    font-size: 24px;
    line-height: 32px;
  }
  .content__box-title {
    font-size: 32px;
    line-height: 39px;
  }
  .content__box-text {
    font-size: 14px;
    line-height: 22px;
  }
}/*# sourceMappingURL=style.css.map */